body { 
  font-family: Arial, sans-serif; 
  background:#000; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: #fff; 
} 
 
.calculator { 
  display: flex; 
  flex-direction: column; 
  background: rgba(255,255,255,0.1); 
  padding: 20px; 
  border-radius: 16px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  width: 280px; 
  text-align: center; 
  align-content: center; 
  justify-content: center; 
} 
 
#display { 
  width: 93%; 
  height: 50px; 
  font-size: 1.2rem; 
  text-align: right; 
  border: none; 
  border-radius: 8px; 
  margin-bottom: 15px; 
  padding: 10px; 
  background-color: darkgrey; 
  color: white; 
} 
 
.buttons { 
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
} 
 
button { 
  height: 50px; 
  font-size: 1.1rem; 
  border: none; 
  border-radius: 8px; 
  background: rgba(255,255,255,0.2); 
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.2s; 
} 
 
button:hover { 
  background: rgba(255,255,255,0.35); 
} 
 
.operator { 
  background: orange; 
} 
.operator:hover { 
    background: rgba(245, 125, 5, 0.845); 
} 
 
#equals { 
   background: orange; 
} 
 
#equals:hover{ 
    background: rgba(245, 125, 5, 0.845); 
} 
 
#clear { 
  grid-column: span 4;
}