:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  color-scheme: light dark;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

 
.custom-scrollbar-sideBar::-webkit-scrollbar {
  width: 7px;           
}

.custom-scrollbar-sideBar::-webkit-scrollbar-track {
  background-color: #222; 
}

.custom-scrollbar-sideBar::-webkit-scrollbar-thumb {
  background-color: #333;  
  border-radius: 5px;
}

.custom-scrollbar-sideBar::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;  
}


.hidden-scrollbar::-webkit-scrollbar {
  display: none;           
}

.hover-white-alpha:hover{
  background-color: rgba(255, 255, 255, 0.05);
}

.footerNavLinks{
  color: #6e848dff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items: center;
  gap: 10;
}

.footerNavLinks a:hover{
  color: white;
  text-decoration: underline;
}

