:root{
  --font-color-grey: #333
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-hover-purple:hover {
  background-color: #8a2be2 !important;
}

.text-hover:hover{
  background-color:rgba(0, 0, 0, 0.1) !important; 
  color: #8a2be2  !important;
}

.btn-hover-transparent:hover{
background-color:rgba(1,1,1,0.05) !important;
}

.careerSkillsBannerBox-hover-shadow:hover{
  box-shadow: 0 6px 6px rgba(3, 3, 3, 0.1)
}